/*aligned the header(About,Events..) to the right*/
.header{
	

	text-align: right;
}

/*designed the header*/
.header li{
	display: inline-block;
	font-size:15px;
	font-style: oblique;
	padding-right: 10px;
	
}
.first{
	width:20%;
	margin-left: 10px;
	}
header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%
	
	}

	
.pic{
	display: inline-block;

	padding-right: 30px;
	margin-left: 80px;


	width:25%;
}
h2{
	font-size: 30px;
	color: #173B0B;
}

div{
	width: 300px;
	height:300px;
	box-sizing: border-box;

	display: inline-block;
	border:10px solid grey;
	overflow: auto;
	background-color: lightgrey;
	margin-left: 60px;



}
div img{
	width:40%;
	float:left;
	padding-right: 10px;
	padding-left: 10px;
	

}

footer{

	font-size: 20px;
	background-color: #F5BCA9;
	padding-top: 80px;
	margin-top: 100px;
	padding-bottom: 80px;

}
