/*aligned the header(About,Events..) to the right*/
.header{
	text-align: right;
}

/*designed the header*/
.header li{
	display: inline-block;
	font-size:15px;
	font-style: oblique;
	padding-right: 10px;

}
.first{
	width:20%;
	margin-left: 10px;
}
header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%
	
	}
.pic{
	display: inline-block;

	padding-right: 30px;
	margin-left: 80px;


	width:25%;
}
h2{
	font-size: 30px;
	color: #173B0B;
}

div{
	width: 300px;

	display: inline-block;
	padding-left: 300px;


}
div img{
	width:40%;

}